body {
  margin: 0;
  padding:0;
  height: 100%;
  background-color: #001775;
  font-family: 'Anton', sans-serif;
  min-width: 700px;
}

header{
  text-align: center;
  padding: 20px 20px 20px 20px;
  background-color: #001775;
  font-family: 'Anton', sans-serif;
  color: #E52C1A;
}

nav {
  text-align: center;
  padding: 0px 10px 20px 10px;
  background-color: #001775;
}

.button {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 20px 10px 20px;
    margin: 0 30px 0 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-family: 'Anton', sans-serif;
    border: 2px solid;
    border-radius: 15px;
}

.button:hover {
    background-color: #87FF99;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 22px;
  font-family: 'Bellefair', serif;
}

main {
 text-align: center;
 background-color: white;
 width: 100%
}

.all-boxes {
  padding: 20px 20px 10px 100px;
  width: 700px;
  text-align: center;
  display: inline-block;
  position: relative;
}

.box {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  vertical-align: top;
  margin-right: 5px;
  margin-bottom: 10px;
  padding-top: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  background-color: #80E3FF;
}

#North_America {
  background-image: url("../images/north-america.png");
}

#Europe {
  background-image: url("../images/europe.png");
}

#Asia {
  background-image: url("../images/asia.png");
}

#South_America {
  background-image: url("../images/south-america.png");
}

#Africa {
  background-image: url("../images/africa.png");
}

#Australia {
  background-image: url("../images/australia.png");
}

.box:hover {
  background-color: #87FF99;
}

.aside {
  float: right;
  position: relative;
  width: 300px;
  padding: 20px 100px 20px 10px;
  text-align: justify;
}

.announceTitle {
  white-space: nowrap;
  overflow: hidden;
  animation:
    typewriter 2s steps(50, end);
}

/*creating typewriter effect for title in the title of the aside section*/
/*Found example of the effect at: https://css-tricks.com/snippets/css/typewriter-effect/*/
@keyframes typewriter {
    from { width: 0 }
    to { width: 100% }
}

.announceText {
  animation: fadein 7s;
}

/*creating a fade in effect for text of the aside section*/
/*Found example of the effect at: http://jsfiddle.net/SO_AMK/VV2ek/*/
@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

footer {
  background-color: #001775;
  color: #E52C1A;
  font-size: 24px;
  bottom: 0px;
  position: relative;
  width: 100%;
  height: 30px;
  padding: 20px 20px 20px 20px;
}

.copyright {
  float: left;
  padding-top: 10px;
  padding-left: 20px;
}

.links {
  float: right;
  padding-right: 60px;
  padding-bottom: 10px;
}

a {
  color: #E52C1A;
  vertical-align: middle;
  padding-right: 10px;
}

@media screen and (max-width: 1230px) {
  .all-boxes {
    padding: 20px 20px 20px 20px;
    width: 807px;
    text-align: center;
    display: inline-block;
    position: relative;
  }

  .aside {
    float: none;
    position: relative;
    width: 300px;
    padding: 20px 40px 20px 40px;
    text-align: justify;
    display: inline-block;
  }

  h1 {
    font-size: 50px;
  }

  h3 {
    font-size: 25px;
  }

  .button {
    font-size: 20px;
  }
}
